* {
  transition: all 0.2s ease-in;
}

body {
  overflow-x: hidden;
}
nav {
  background-image: url(../images/TartanBanner.png);
  background-size: cover;
  /* height: 20vh; */
  max-height: auto;
}

.navbar-nav {
}

.navbar-nav .nav-link {
  font-family: Playfair Display;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: rgba(255, 255, 255, 1) !important;
}
.nav div {
  /* margin: ; */
}

main {
  margin: 5rem 0rem;
}

.black-screen {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #000000;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
}

.black-screen.active {
  opacity: 0.2;
}

.color-heading {
  margin: 2rem 0rem;
  font-family: Playfair Display;
}

.color-heading h2 {
}

.color-scheme {
  margin: 2rem 0rem;
  font-family: Noto Sans;
  display: flex;
  flex-direction: column;
}

.color-scheme h3 {
  font-size: 1rem;
}

.color-scheme::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid grey;
  opacity: 0.5;
}
.color-groups .group {
  display: flex;
  flex-direction: column;
  margin: 2rem 0rem;
}
.color-groups .group::after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-top: 2rem;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid grey;
  opacity: 0.5;
}

.color-groups .group h4 {
  font-family: Playfair Display;
  font-size: 1.2rem;
}
.color-groups .group ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;

  /* overflow-y: hidden; */
}

.color-groups .group ul li {
  max-height: 7rem;
  width: 7rem;
  list-style-type: none;
  margin: 2rem 1rem 2rem 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.color-groups .group ul li .color-swatch {
  height: 6rem;
  width: 6rem;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
  border-radius: 0.5rem;
  /* cursor: none; */
  transition: all 0.3s ease-in-out;
}

.color-groups .group ul li .swatch-content {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.swatch-content span {
  font-size: 0.8rem;
  width: 80%;
}

.swatch-content img {
  cursor: pointer;
  height: 15px;
  opacity: 0.5;
  transition: all 0.1s ease;
}

.swatch-content img:hover {
  opacity: 1;
}
.swatch-content img:hover::after {
  opacity: 1;
}

.color-groups .group ul li .color-swatch:hover {
  transform: translateY(-0.25rem);
  transform: translateX(-0.25rem);
  height: 6.5rem;
  width: 6.5rem;
}

.colorPopup {
  position: relative;
  width: 8rem;
  height: 5rem;
  top: -6rem;
  left: -1rem;
  font-size: 1rem;
  background-color: white;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  /* opacity: 0; */
  text-align: center;
  z-index: 6;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.otherColors .colors ul.otherColorsUl li .color-swatch:hover .colorPopup {
  display: flex;
}

.colorPopup span {
  /* margin: 2rem 0rem; */
}

.copiedPopUp {
  /* visibility: hidden; */
  opacity: 0;
  position: fixed;
  top: 47.5vh;
  left: 40%;
  width: 25rem;
  height: 13rem;
  z-index: 10;
  background-color: #f9f9f9;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

.copiedPopUp.active {
  /* width: 25rem; */
  opacity: 1;
  /* visibility: visible; */
}

.copiedPopUp .copiedContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  height: 80%;
}
.copiedPopUp .copiedColorSwatch {
  height: 2rem;
  width: 2rem;
  border-radius: 0.2rem;
  background-color: aquamarine;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}
.copiedPopUp .copiedContent * {
  margin: 0.2rem 0rem;
}

.copiedPopUp .copiedContent .copiedMsg {
  font-size: large;
  font-weight: 600;
  opacity: 0.3;
}
.copiedPopUp .copiedContent .instructions {
  font-weight: 100;
  font-size: 0.9rem;
}

.copiedContent span.doneIcon {
  width: 20px;
}

.copiedColorName {
  font-weight: 600;
}
.copiedPopUp .closeCopyDiv {
  width: 100%;
  position: relative;
}
.copiedPopUp img.closeCopy {
  position: absolute;
  right: 1rem;
  width: 12px;
  height: 12px;
}

footer {
  background: url(../images/TartanBanner.png);
  background-size: cover;
  height: 15vh;
}

/* ColorDemo Popup */

.colorDemoPopup {
  display: none;
  position: fixed;
  top: 5%;
  left: 15vw;
  height: 90vh;
  /* width: 80vw; */
  z-index: 5;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  /* padding: 2rem; */
  overflow-x: hidden;
  overflow-y: scroll;
}

.colorDemoPopup.active {
  display: block;
}

.colorDemoContainer {
  max-width: 900px !important;
  font-family: "Playfair Display";
}

.closeBtn {
  display: flex;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.closeBtn img {
  display: flex;
  position: sticky;
  left: 1rem;
  top: 1rem;
  width: 1rem;
}

.colorDetails {
  margin: 2rem 0rem;
}

.colorDetails > div {
  margin: 1rem 0rem;
}

.colorDetailsText > * {
  margin: 0.8rem 0rem;
}

.colorSolid {
  width: 100%;
  padding-top: 100%;
  background-color: #f3eedf;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.copyDemoColor {
  cursor: pointer;
}

.demoImg {
  margin-top: 2rem;
}

.demoImg img {
  width: 100%;
  max-width: 1000px;
}

.otherColors .colors .otherColorsUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.otherColorsUl li {
  max-height: 5rem;
  width: 5rem;
  list-style-type: none;
  margin: 0.2rem 0.1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.otherColorsUl li .color-swatch {
  height: 4.5rem;
  width: 4.5rem;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
  border-radius: 0.5rem;
  /* cursor: none; */
  transition: all 0.3s ease-in-out;
}
main.active {
}

.otherColors {
  height: 10rem;
  padding: 2rem 0rem;
}

.otherColors .placeholder {
  background-color: peachpuff;
}
@media only screen and (max-width: 768px) {
  .copiedPopUp {
    top: 47.5%;
    left: 25%;
    width: 25rem;
    height: 12rem;
    /* font-size: 1rem; */
  }

  .colorDemoPopup {
    top: 10%;
    left: 0vw;
    height: auto;
    max-height: 75vh;
  }
}

@media only screen and (max-width: 500px) {
  .copiedPopUp {
    left: 5%;
    width: 90%;
  }

  .colorDemoPopup {
    top: 10%;
    left: 0vw;
    height: auto;
    max-height: 65vh;
  }

  .colorDetailsSample {
    width: 40% !important;
  }

  .colorDetailsText {
    width: 50% !important;
  }

  .colorDetails > div {
    margin: 1rem 0.5rem;
  }
}

@media only screen and (max-width: 410px) {
  .colorDemoPopup {
    top: 10%;
    left: 0vw;
    height: auto;
    max-height: 65vh;
  }

  .colorDetails {
    text-align: center;
    justify-content: center;
  }

  .colorDetailsText {
    width: 60% !important;
  }

  .colorDetailsText h3 {
    font-size: 1.3rem;
  }
  .colorDetailsText h5 {
    font-size: 1rem;
  }
}
